.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  width: fit-content;
  height: 46px;

  background-color: var(--yellow-color-2);
  border-radius: 6px;

  white-space: nowrap;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  color: var(--main-color);

  transition: background-color 0.2s linear, color 0.2s linear, transform 0.2s linear;

  &:hover {
    background-color: var(--second-color);
    color: var(--white-color);
    transform: scale(1.08);
  }
}

.secondary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 46px;

  background-color: var(--grey-color);
  border-radius: 6px;

  white-space: nowrap;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  color: var(--main-color);

  transition: background-color 0.2s linear, color 0.2s linear, transform 0.2s linear;

  &:hover {
    background-color: var(--second-color);
    color: var(--white-color);
    transform: scale(1.08);
  }
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: var(--main-color);

  @media (max-width: $breakpoint992) {
    font-size: 30px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 24px;
  }

}