@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDinDisplayPro-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDinDisplayPro-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDinDisplayPro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDinDisplayPro-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDinDisplayPro-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDinDisplayPro-Black.ttf');
  font-weight: 800;
}