.get-quote {
  padding: 80px 0 115px;
  background-color: #585960;


  @media (max-width: $breakpoint768) {
    padding: 60px 0;
  }

  // .get-quote__inner

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border-radius: 24px;
    background-color: #46474E;
    background-image: url('../img/get-quote/get-quote-bg.svg');
    background-repeat: no-repeat;
    background-position: center bottom;


  }

  // .get-quote__employee

  &__employee {
    position: relative;

    @media (max-width: $breakpoint480) {
      display: flex;
    }
  }

  // .get-quote__employee-pic

  &__employee-pic {
    margin-top: -50px;

    @media (max-width: $breakpoint992) {
      max-width: 100%;
      padding-left: 20px;
    }

    @media (max-width: $breakpoint480) {
      padding-left: 0;
      margin-top: auto;
    }
  }

  // .get-quote__employee-info

  &__employee-info {
    position: absolute;
    bottom: 48px;
    left: 22px;
    padding: 32px;
    border-radius: 12px;
    background: rgb(88, 89, 96, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: var(--white-color);
    text-align: center;


    @media (max-width: $breakpoint768) {
      bottom: 0;
      left: 0;
      padding: 20px;
    }
  }

  // .get-quote__employee-name

  &__employee-name {
    margin-bottom: 15px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.75px;
    text-transform: uppercase;


    @media (max-width: $breakpoint768) {
      margin-bottom: 5px;
      font-size: 13px;
    }
  }

  // .get-quote__employee-position

  &__employee-position {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    opacity: 0.6;


    @media (max-width: $breakpoint768) {
      font-size: 10px;
    }
  }

  // .get-quote__info-container

  &__info-container {
    display: flex;
    padding: 72px 0;

    @media (max-width: $breakpoint992) {
      padding: 30px 0;
    }


    @media (max-width: $breakpoint768) {
      padding: 10px;
    }
  }

  // .get-quote__info

  &__info {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
  }

  // .get-quote__quotters

  &__quotters {
    margin-bottom: 40px;

    img {
      width: 40px;
      height: 34px;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;

      img {
        width: 30px;
        height: auto;
      }
    }
  }

  // .get-quote__title

  &__title {
    margin-bottom: 40px;
    font-weight: 700;
    line-height: 120%;
    font-size: 32px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
      font-size: 24px;
    }


    @media (max-width: $breakpoint768) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint480) {
      font-size: 16px;
    }
  }

  // .get-quote__text

  &__text {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 23px;
    line-height: 140%;

    span {
      color: #FFA469;
    }

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }


    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint480) {
      font-size: 14px;
    }
  }

  // .get-quote__btn

  &__btn {
    margin-top: auto;
    color: var(--main-color) !important;

    @media (max-width: $breakpoint480) {
      padding: 0 20px;
    }
  }

  // .get-quote__instruction

  &__instruction {
    text-align: right;


    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  // .get-quote__instruction-plus

  &__instruction-plus {
    margin-right: 120px;
    margin-bottom: 24px;

    @media (max-width: $breakpoint992) {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0 auto 24px;
    }
  }

  // .get-quote__instruction-pic

  &__instruction-pic {

    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }
  }
}