// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  background-color: var(--grey-color-2);
  font-family: 'PF DinDisplay Pro', sans-serif;
  font-weight: 700;
  line-height: 120%;
  color: var(--main-color);
  overflow-x: hidden;

  &.locked {
    overflow: hidden;
  }
}

.breadcumps {
  margin: 52px 0 22px;
  background-color: transparent;

  // .breadcumps__inner

  &__inner {}

  // .breadcumps__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  // .breadcumps__item

  &__item {
    font-size: 9px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #8F8F92;
  }

  // .breadcumps__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 9px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #8F8F92;
  }
}














// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}