// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

html {
  font-feature-settings: "kern"1, "liga"0, "clig"0;
  -moz-font-feature-settings: "kern"1, "liga"0, "clig"0;
  -ms-font-feature-settings: "kern"1, "liga"0, "clig"0;
  -o-font-feature-settings: "kern"1, "liga"0, "clig"0;
  -webkit-font-feature-settings: "kern"1, "liga"0, "clig"0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 13px/18px haas, pragmatica, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Arial, sans-serif;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}


// Body Locked
body {
  background-color: var(--grey-color-2);
  font-family: 'PF DinDisplay Pro', sans-serif;
  font-weight: 700;
  line-height: 120%;
  color: var(--main-color);
  overflow-x: hidden;

  &.locked {
    overflow: hidden;
  }
}

.integrated-page {
  background-color: var(--main-color);

  & .header {
    background-color: var(--main-color);

    transition: background-color 1s linear;
  }

  & .menu__item-link {
    color: var(--white-color);
  }

  & .header.show {
    .menu__item-link {
      color: var(--main-color);
    }

    .socials__link {

      svg path {
        fill: var(--main-color);
      }
    }

    .logo img {
      filter: brightness(0.5);
    }
  }
}

.breadcumps {
  margin: 52px 0 22px;
  background-color: transparent;

  // .breadcumps__inner

  &__inner {}

  // .breadcumps__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  // .breadcumps__item

  &__item {
    font-size: 9px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #8F8F92;
  }

  // .breadcumps__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 9px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #8F8F92;
  }
}














// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}