.quality__improvement-list.technical-task__improvement-list--3 {
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $breakpoint992) {
    grid-template-columns: repeat(2, 1fr);
  }


  @media (max-width: $breakpoint768) {
    grid-template-columns: repeat(1, 1fr);
  }

  .technical-task__improvement-num {
    height: 140px;
    display: flex;
    align-items: center;
    margin-top: auto;
  }

  .technical-task__improvement-texts {
    margin-bottom: 20px;
  }

  .technical-task__improvement-text {
    font-size: 16px;
  }

  .technical-task__improvement-label {
    height: auto;
    max-height: 100px;
    font-size: 22px;
    line-height: 114%;

    -ms-line-clamp: 4;
    -webkit-line-clamp: 4;
    line-clamp: 4;

  }
}

.quality__analitics {

  .bi__analitics-prices {
    margin-bottom: 60px;
  }

  .bi__analitics-step-title {
    font-size: 15px;
    line-height: 140%;
  }

  .bi__analitics-main {
    flex: 0 0 220px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
    }
  }

  .bi__analitics-step:nth-child(2) {
    padding-left: 40px;

    @media (max-width: $breakpoint768) {
      padding-left: 0;
    }
  }

  .bi__analitics-steps {
    background-color: #F3F0F0;
  }

  .bi__analitics-step-header {
    max-width: 260px;
    margin-bottom: 20px;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  .bi__analitics-list {
    max-width: 260px;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }

    &+.bi__analitics-step-header {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  .bi__analitics-item {
    list-style: disc;
  }

  .bi__analitics-steps::before {
    background-color: #D7D7D7;
  }
}

.quality__steps {
  margin-top: 128px;

  @media (max-width: $breakpoint992) {
    margin-top: 60px;
  }

  .audit__steps-sum {
    padding: 0 26px;
    border-right: 0;
  }

  .audit__steps-item {
    padding: 56px 0;

    @media (max-width: $breakpoint992) {
      padding: 30px 0;
    }


    &.active {

      .audit__steps-more {
        color: #FFA469;
      }

      .audit__steps-count {
        text-shadow: none;
      }
    }
  }



  .audit__steps-info {
    padding: 0 56px;
    border-left: 2px solid #d7d7d7;

    @media (max-width: $breakpoint992) {
      padding: 0 30px;
    }

    @media (max-width: $breakpoint768) {
      padding: 30px;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      border-left: 0;

      br {
        display: none;
      }
    }
  }

  .audit__steps-count {
    width: 224px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    color: #F3F0F0;

    text-shadow:
      -1px 0px 0px #8F8F92,
      1px 0px 0px #8F8F92,
      0px -1px 0px #8F8F92,
      0px 1px 0px #8F8F92;



    @media (max-width: $breakpoint992) {
      width: 120px;
      height: auto;
      font-size: 100px;
    }
  }
}





.quality {

  // .quality__service

  &__service {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    border-radius: 12px;
    background-color: var(--main-color);
    color: var(--white-color);


    @media (max-width: $breakpoint768) {
      flex-direction: column;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &__service-pic {
    padding: 16px;

    img {
      border-radius: 6px;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .quality__service-info

  &__service-infos {
    display: flex;
    justify-content: space-between;
    column-gap: 64px;
    padding: 64px;

    @media (max-width: $breakpoint992) {
      padding: 16px;
      column-gap: 16px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 20px;
      padding: 20px;
      column-gap: 20px;
    }
  }

  &__service-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $breakpoint768) {
      row-gap: 16px;
    }
  }

  // .quality__service-label

  &__service-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 4px 12px;
    height: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 10px;
    background-color: var(--yellow-color);
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: var(--main-color);
  }

  // .quality__service-subtitle

  &__service-subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }
  }

  // .quality__service-title

  &__service-title {
    margin-bottom: 32px;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  // .quality__service-link

  &__service-link {
    margin-top: auto;
  }

  // .quality__service-descr

  &__service-descr {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }

  // .quality__service-discont

  &__service-discont {
    display: flex;
    align-items: center;
    column-gap: 16px;

    span {
      font-size: 14px;
      font-weight: 500;
      line-height: none;
    }
  }

  // .quality__service-discont-percent

  &__service-discont-percent {
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    background: var(--yellow-02, #FCCD82);
    white-space: nowrap;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    color: var(--main-color);
  }
}