.quality__improvement-list.technical-task__improvement-list--3 {
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $breakpoint992) {
    grid-template-columns: repeat(2, 1fr);
  }


  @media (max-width: $breakpoint768) {
    grid-template-columns: repeat(1, 1fr);
  }

  .technical-task__improvement-num {
    height: 140px;
    display: flex;
    align-items: center;
    margin-top: auto;
  }

  .technical-task__improvement-texts {
    margin-bottom: 20px;
  }

  .technical-task__improvement-text {
    font-size: 16px;
  }

  .technical-task__improvement-label {
    height: auto;
    max-height: 100px;
    font-size: 22px;
    line-height: 114%;

    -ms-line-clamp: 4;
    -webkit-line-clamp: 4;
    line-clamp: 4;

  }
}

.quality__analitics {

  .bi__analitics-step:nth-child(2) {
    padding-left: 40px;

    @media (max-width: $breakpoint768) {
      padding-left: 0;
    }
  }

  .bi__analitics-steps {
    background-color: #F3F0F0;
  }

  .bi__analitics-step-header {
    max-width: 260px;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  .bi__analitics-list {
    max-width: 260px;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }

    &+.bi__analitics-step-header {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  .bi__analitics-item {
    list-style: disc;
  }

  .bi__analitics-steps::before {
    background-color: #D7D7D7;
  }
}

.quality__steps {

  .audit__steps-sum {
    padding: 0 26px;
    border-right: 0;
  }

  .audit__steps-item {
    padding: 56px 0;

    @media (max-width: $breakpoint992) {
      padding: 30px 0;
    }


    &.active {

      .audit__steps-more {
        color: #FFA469;
      }

      .audit__steps-count {
        text-shadow: none;
      }
    }
  }



  .audit__steps-info {
    padding: 0 56px;
    border-left: 2px solid #d7d7d7;

    @media (max-width: $breakpoint992) {
      padding: 0 30px;
    }

    @media (max-width: $breakpoint768) {
      padding: 30px;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      border-left: 0;

      br {
        display: none;
      }
    }
  }

  .audit__steps-count {
    width: 224px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    color: #F3F0F0;

    text-shadow:
      -1px 0px 0px #8F8F92,
      1px 0px 0px #8F8F92,
      0px -1px 0px #8F8F92,
      0px 1px 0px #8F8F92;



    @media (max-width: $breakpoint992) {
      width: 120px;
      height: auto;
      font-size: 100px;
    }
  }
}