.settings {
  padding: 90px 0 190px;

  @media (max-width: $breakpoint992) {
    padding: 60px 0 100px;
  }

  // .settings__inner

  &__inner {}

  // .settings__title

  &__title {
    margin-bottom: 106px;
    font-size: 56px;
    font-weight: 700;
    line-height: 114%;
    color: var(--main-color);

    span {
      color: #8F8F92;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
      font-size: 40px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 30px;
    }
  }

  // .settings__support

  &__support {
    margin-bottom: 64px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
    }
  }

  // .settings__support-title

  &__support-title {
    margin-bottom: 64px;
  }

  // .settings__support-pakets

  &__support-pakets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 16px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .settings__support-paket

  &__support-paket {
    position: relative;
    display: grid;
    align-content: space-between;
    height: 600px;
    padding: 48px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: bottom;

    @media (max-width: 1200px) {
      height: 400px;
      padding: 30px;
      background-position: bottom right;
    }
  }

  // .settings__support-header

  &__support-header {}

  // .settings__support-label

  &__support-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 24px;
    margin-bottom: 4px;
    background-color: var(--white-color);
    border-radius: 4px;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
  }

  // .settings__support-stage

  &__support-stage {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .settings__support-timing

  &__support-timing {
    display: flex;
    align-items: flex-end;
    column-gap: 34px;
  }

  // .settings__support-hour

  &__support-hour {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    font-size: 15px;
    font-weight: 700;
    line-height: 140%;
  }

  // .settings__support-footer

  &__support-footer {}

  // .settings__support-footer-label

  &__support-footer-label {
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
  }

  // .settings__support-price

  &__support-price {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;

    span {
      font-size: 15px;
      font-weight: 700;
      line-height: 140%;
    }
  }

  // .settings__support-btn

  &__support-btn {
    width: 128px;
    height: 48px;
  }
}

.settings__support-paket--grey {
  background-color: #E8E8E8;
  background-image: url('../img/settings/settings-support-1.svg');
  color: var(--main-color);
}

.settings__support-paket--white {
  background-color: var(--white-color);
  background-image: url('../img/settings/settings-support-2.svg');
  color: var(--main-color);

  .settings__support-label {
    background-color: #E8E8E8;
  }
}

.settings__support-paket--black {
  background-color: var(--main-color);
  background-image: url('../img/settings/settings-support-3.svg');
  color: var(--white-color);

  .settings__support-label {
    color: var(--main-color);
  }
}



.settings {

  // .settings__graphic

  &__graphic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    padding: 48px 48px 56px 48px;
    margin-bottom: 120px;
    border-radius: 12px;
    background-color: var(--white-color);
    background-image: url('../img/settings/settings-graphic-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 40px;
      margin-bottom: 80px;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
      margin-bottom: 40px;
    }
  }

  // .settings__graphic-block

  &__graphic-block {
    display: flex;
    align-items: flex-start;
    column-gap: 24px;
  }

  // .settings__graphic-label

  &__graphic-label {
    max-width: 115px;
    padding: 7px 12px 4px 12px;
    background-color: #E8E8E8;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    text-align: center;
  }

  // .settings__graphic-title

  &__graphic-title {
    max-width: 330px;
    font-size: 23px;
    font-weight: 700;
    line-height: normal;

    @media (max-width: $breakpoint768) {
      font-size: 20px;
    }
  }

  // .settings__graphic-subblock

  &__graphic-subblock {
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
  }

  // .settings__graphic-timing

  &__graphic-timing {}

  // .settings__graphic-timing-label

  &__graphic-timing-label {
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
  }

  // .settings__graphic-timing-min

  &__graphic-timing-min {
    font-weight: 500;
    line-height: normal;
    font-size: 24px;

    span {
      font-weight: 400;
      font-size: 14px;
    }
  }

  // .settings__graphic-btn

  &__graphic-btn {
    width: 130px;
    height: 48px;
  }
}

.settings__integrated-info {
  margin-bottom: 128px;
  background-color: #E8E8E8;


  @media (max-width: $breakpoint992) {
    margin-bottom: 60px;
  }

  .integrated__text {
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
    color: var(--main-color);
  }

  .integrated__text--grey {
    color: #8F8F92;
  }
}


.settings {


  // .settings__hourglass

  &__hourglass {
    display: flex;
    align-items: flex-start;
    column-gap: 15px;

    margin-bottom: 190px;

    @media (max-width: $breakpoint992) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      row-gap: 30px;
      margin-bottom: 60px;
    }
  }

  // .settings__hourglass-title

  &__hourglass-title {
    margin-right: auto;


    @media (max-width: $breakpoint992) {
      grid-column: span 6;

      br {
        display: none;
      }
    }
  }

  // .settings__hourglass-list

  &__hourglass-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px 40px;
    border-radius: 12px;
    border: 1.5px solid #D7D7D7;
    background: #F3F0F0;


    @media (max-width: $breakpoint992) {
      grid-column: span 4;
      height: 100%;
    }

    @media (max-width: $breakpoint768) {
      grid-column: span 6;
      padding: 20px;
    }
  }

  // .settings__hourglass-litem

  &__hourglass-litem {
    position: relative;
    max-width: 450px;
    padding-left: 20px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: var(--main-color);

    &::before {
      content: '';
      position: absolute;
      left: 8px;
      top: 10px;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: var(--main-color);
    }

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }
  }

  // .settings__hourglass-picture

  &__hourglass-picture {
    flex: 0 1 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    border-radius: 12px;
    border: 1px solid #D7D7D7;
    padding: 50px 50px 0 50px;


    @media (max-width: $breakpoint992) {
      grid-column: span 2;
      height: 100%;
    }

    @media (max-width: $breakpoint768) {
      grid-column: span 6;
      padding: 20px 20px 0 20px;
    }
  }

  // .settings__hourglass-label

  &__hourglass-label {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 120%;

    span {
      color: var(--yellow-color-2);
    }
  }

  // .settings__hourglass-pic

  &__hourglass-pic {}
}

.settings {

  // .settings__info

  &__info {

    margin-bottom: 190px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }
  }

  // .settings__info-list

  &__info-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 16px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .settings__info-item

  &__info-item {
    display: grid;
    align-content: baseline;
    padding: 48px;
    border-radius: 12px;
    border: 1.5px solid #D7D7D7;
    background-color: #F3F0F0;

    @media (max-width: $breakpoint992) {
      padding: 20px;
    }

  }

  // .settings__info-icon

  &__info-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 28px;
  }

  // .settings__info-title

  &__info-title {
    max-width: 120px;
    margin-bottom: 16px;
    font-size: 23px;
    font-weight: 700;
    line-height: 140%;
  }

  // .settings__info-descr

  &__info-descr {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
  }
}

.settings {

  // .settings__faq

  &__faq {
    display: flex;
    align-items: flex-start;
    column-gap: 116px;

    @media (max-width: $breakpoint1450) {
      column-gap: 60px;
    }

    @media (max-width: $breakpoint992) {
      flex-direction: column-reverse;
      row-gap: 30px;
    }
  }

  // .settings__faq-list

  &__faq-list {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }

  // .settings__faq-item

  &__faq-item {
    padding: 40px 24px 40px 48px;
    border-radius: 6px;
    background-color: #E8E8E8;

    transition: background-color 0.2s linear;

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }

    &.active {
      background-color: var(--white-color);

      .settings__faq-item-title {
        margin-bottom: 20px;
      }

      .settings__faq-descr {
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;

        @media (max-width: $breakpoint768) {
          font-size: 14px;
        }
      }
    }
  }

  // .settings__faq-item-title

  &__faq-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;

    transition: margin-bottom 0.2s linear;

    svg {
      min-width: 34px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .settings__faq-descr

  &__faq-descr {
    font-size: 0;
    line-height: 0;

    transition: 0.1s linear;
  }

  // .settings__faq-info

  &__faq-info {
    flex: 0 1 382px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
    }
  }

  // .settings__faq-title

  &__faq-title {
    max-width: 200px;
    margin-bottom: 34px;

    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }
  }

  // .settings__faq-texts

  &__faq-texts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 150px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }
  }

  // .settings__faq-text

  &__faq-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: var(--main-color);

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .settings__faq-pic

  &__faq-pic {

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }
}

.settings__graphic--yellow {
  background-color: var(--yellow-color-2);
  background-image: url('../img/settings/settings-graphic-bg-2.svg');

  .settings__graphic-btn {
    background-color: var(--white-color);

    &:hover {
      background-color: var(--yellow-color);
      color: var(--main-color);
    }
  }

  .settings__graphic-label {
    background-color: var(--white-color);
  }
}

.settings__info-audit-title {
  margin-bottom: 64px;
  font-weight: 700;
  line-height: 120%;
  font-size: 36px;

  span {
    display: block;
    color: #B9BABD;
  }

  @media (max-width: $breakpoint992) {
    font-size: 32px;
    margin-bottom: 40px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 24px;
  }
}