.vacancies {

  // .vacancies__director

  &__director {
    padding-top: 80px;
    margin-bottom: 60px;
    background-image: url('../img/vacancies/vacancies-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    border-radius: 12px;
    border: 1.5px solid #D7D7D7;

    @media (max-width: $breakpoint768) {
      padding-top: 40px;
    }
  }

  // .vacancies__director-main

  &__director-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 626px;
    margin: 0 auto 0;
    border-bottom: 1px solid #D7D7D7;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 48px;
      transform: translateX(36%);
      width: 243px;
      height: 157px;
      background-image: url('../img/vacancies/vacancies-kg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;

      @media (max-width: $breakpoint992) {
        transform: translateX(0);
        right: -30px;
      }

      @media (max-width: $breakpoint768) {
        right: 0;
        content: none;
      }
    }

    @media (max-width: $breakpoint768) {
      max-width: 100%;

      img {
        max-width: 100%;
      }
    }
  }

  // .vacancies__director-info

  &__director-info {
    position: absolute;
    bottom: 55px;
    left: 22px;
    padding: 47px 30px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(20px);

    @media (max-width: $breakpoint768) {
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
    }
  }

  // .vacancies__director-name

  &__director-name {
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 100%;
    font-size: 23px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 5px;
      font-size: 18px;

      br {
        display: none;
      }
    }
  }

  // .vacancies__director-position

  &__director-position {
    font-weight: 400;
    line-height: 100%;
    font-size: 17px;
    color: #8F8F92;
    text-align: center;

    @media (max-width: $breakpoint768) {
      font-size: 15px;
    }
  }

  // .vacancies__director-footer

  &__director-footer {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    padding: 40px;

    img {
      width: 48px;
      height: 40px;
    }

    img:nth-child(3) {
      margin-left: auto;
    }

    @media (max-width: $breakpoint992) {
      padding: 40px 30px 30px;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__director-quote {
    padding: 0 100px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    line-height: 36px;
    font-size: 32px;
    color: var(--main-color);

    span {
      color: #FFA469;
    }

    @media (max-width: $breakpoint992) {
      padding: 0 60px;
      font-size: 28px;
    }

    @media (max-width: $breakpoint768) {
      padding: 0 10px;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.integrated__info--vacancies {
  background-color: var(--main-color);

  .integrated__text {
    color: var(--white-color);
  }

  .integrated__text--grey {
    color: #8f8f92;
  }
}


.vacancies {

  // .vacancies__infos

  &__infos {
    max-width: 790px;
    margin-bottom: 128px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }
  }

  // .vacancies__info

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 36px;

    &:not(:last-child) {
      margin-bottom: 64px;

      @media (max-width: $breakpoint992) {
        margin-bottom: 40px;
      }

      @media (max-width: $breakpoint768) {
        margin-bottom: 24px;
      }
    }

    @media (max-width: $breakpoint992) {
      row-gap: 20px;
    }
  }

  // .vacancies__info-title

  &__info-title {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;

    @media (max-width: $breakpoint768) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  // .vacancies__info-descr

  &__info-descr {
    font-weight: 400;
    line-height: 24px;
    font-size: 17px;

    @media (max-width: $breakpoint768) {
      font-size: 15px;
      line-height: 20px;
    }
  }

  // .vacancies__info-list

  &__info-list {
    padding-left: 20px;
  }

  // .vacancies__info-item

  &__info-item {
    list-style: disc;
    font-weight: 400;
    line-height: 24px;
    font-size: 17px;

    @media (max-width: $breakpoint768) {
      font-size: 15px;
      line-height: 20px;
    }
  }
}




.vacancies {

  // .vacancies__vacancies

  &__vacancies {
    margin-bottom: 128px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }
  }

  // .vacancies__vacancies-title

  &__vacancies-title {}

  // .vacancies__vacancies-list

  &__vacancies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 16px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .vacancies__vacancies-item

  &__vacancies-item {
    display: grid;
    padding: 40px;
    border-radius: 12px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint992) {
      padding: 20px;
    }
  }

  // .vacancies__vacancies-label

  &__vacancies-label {
    margin-bottom: 40px;
    font-size: 23px;
    font-weight: 700;
    line-height: 140%;

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  // .vacancies__vacancies-salary

  &__vacancies-salary {
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 24px;
    font-size: 17px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
    }
  }

  // .vacancies__vacancies-experience

  &__vacancies-experience {
    margin-bottom: 60px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }
  }

  // .vacancies__vacancies-btn

  &__vacancies-btn {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 16px 30px;
    height: 46px;
    border-radius: 6px;
    border: 1.5px solid #D7D7D7;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: var(--main-color);

    transition: background-color .2s linear;

    &:hover {
      background-color: var(--second-color);
    }
  }
}



.vacancies {

  // .vacancies__reviews

  &__reviews {
    margin-bottom: 128px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }

    .vacancies__vacancies-btn {
      margin: 0 auto;
    }
  }

  // .vacancies__review

  &__review {
    display: grid;
    grid-template-columns: 400px 1fr;
    padding: 16px;
    margin-bottom: 64px;
    border-radius: 12px;
    background-color: #E8E8E8;

    @media (max-width: $breakpoint992) {
      grid-template-columns: 200px 1fr;
    }

    @media (max-width: $breakpoint768) {
      display: flex;
      flex-direction: column;
    }
  }

  // .vacancies__review-main

  &__review-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 48px;
    padding: 48px;

    @media (max-width: $breakpoint992) {
      row-gap: 24px;
      padding: 24px;
    }

    @media (max-width: $breakpoint768) {
      padding: 0 0 24px;
    }
  }

  // .vacancies__review-header

  &__review-header {}

  // .vacancies__review-label

  &__review-label {}

  // .vacancies__review-title

  &__review-title {}

  // .vacancies__review-footer

  &__review-footer {
    &>img {
      margin-bottom: 36px;

      @media (max-width: $breakpoint992) {
        margin-bottom: 24px;
      }
    }
  }

  // .vacancies__review-grade

  &__review-grade {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 20px;
  }

  // .vacancies__review-stars

  &__review-stars {}

  // .vacancies__review-tags

  &__review-tags {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 4px;
  }

  // .vacancies__review-tag

  &__review-tag {
    padding: 8px;
    border-radius: 6px;
    background-color: #D7D7D7;

    font-weight: 500;
    line-height: normal;
    font-size: 12px;
  }

  // .vacancies__review-notations

  &__review-notations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 48px 0;
    border-radius: 6px;
    background-color: #F3F0F0;

    @media (max-width: $breakpoint992) {
      padding: 24px 0;
    }

    @media (max-width: $breakpoint768) {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding: 12px;
    }
  }

  // .vacancies__review-notation

  &__review-notation {
    padding: 0 48px;

    &:first-child {
      border-right: 1px solid #D7D7D7;

      @media (max-width: $breakpoint768) {
        border-right: 0;
        border-bottom: 1px solid #D7D7D7;
      }
    }

    @media (max-width: $breakpoint992) {
      padding: 0 24px;
    }

    @media (max-width: $breakpoint768) {
      padding: 12px;
    }
  }

  // .vacancies__review-top

  &__review-top {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 32px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

    img {
      width: 24px;
      height: 24px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  // .vacancies__review-notation-list

  &__review-notation-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  // .vacancies__review-notation-item

  &__review-notation-item {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    @media (max-width: $breakpoint992) {
      font-size: 14px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 12px;
    }
  }

  // .vacancies__vacancies-btn

  &__vacancies-btn {}
}