// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1160;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

:root {
  // colors

  --main-color: #46474E;
  --white-color: #FFFFFF;
  --bg-color: #3F3F46;
  --btn-color: #61504D;

  --second-color: #F4AD7F;
  --yellow-color: #FBD97E;
  --yellow-color-2: #FCCD82;

  --grey-color: #E3E0E0;
  --grey-color-2: #F3F0F0;
}